.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .list_card {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
