@import '../../app/vars';
@import '../../app/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;

  .list_card {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include for-size(desktop-lg) {
      width: 80%;
      height: 100%;
      gap: 20px;
    }

    @include for-size(tablet-lg) {
      width: 90%;
      height: 100%;
      gap: 10px;
    }

    @include for-size(tablet) {
      width: 90%;
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 30px;
    }
  }
}
