@import '../../app/animate.module.scss';
@import '../../app/vars';
@import '../../app/mixins';

.wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  @include shadow-card-off;

  @include for-size(desktop) {
    height: 20vw;
  }

  @include for-size(tablet) {
    height: 280px;
  }

  &:hover {
    @include shadow-card-on;
  }

  .img {
    width: 100%;
    height: 300px;
  }

  .name {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 10;
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
}
